.team-member {
  text-align: center;
  margin-bottom: 1rem;
}

.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  object-fit: cover;
  margin-bottom: 0.5rem;
  transition: transform 0.2s;
}

.unit.one-heights .team-member img {
  width: 90px;
  height: 90px;
}

.team-member img:hover {
  transform: scale(1.05);
}

.team-member h4 {
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
  text-align: left;
}

.team-member p {
  color: #666;
  margin-top: 0;
  font-size: 0.8rem;
  line-height: 1.1;
  text-align: left;
}

.unit.one-heights .team-member h4 {
  margin-bottom: 0.25rem;
  font-size: 0.6rem;
  text-align: left;
}
.unit.one-heights .team-member p {
  font-size: 0.5rem;
  text-align: left;
}
